<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>DCMEX Stereoscopic cameras - Dashboard</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#fafafa">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        //var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('get_log') }}');
        xhr.send();
        setInterval(function() {
          text = xhr.responseText;
          lines = text.trim()
                .replaceAll('{{ config["DIR"] }}', '<span class="primary">{{ config["DIR"] }}</span>')
                .replaceAll('{{ config["SECONDARY_DIR"] }}', '<span class="secondary">{{ config["SECONDARY_DIR"] }}</span>')
                .split("\n");
            
          $('#output').html(
                '<ul><li>'+lines.slice(-15).join("</li><li>")+'</li></ul>'
          );
        }, 500);

        //autorefresh GPS
        /*setInterval(function() {
          $('#primary_coords').load('{{ url_for('gps') }}');
        }, 7020);
        setInterval(function() {
          $('#secondary_coords').load('{{ url_for('gps_secondary') }}');
        }, 6050);
       
        //auto-refresh ping 
        function ping() {
          $('#ping').load('{{ url_for('ping_secondary') }}', setTimeout(ping, 5000));
        }
        ping();

        //auto-refresh thumbnails
        function latest_thumb(){
          $("#latest").attr("src", "{{ url_for('thumb') }}?"+new Date().getTime(), setTimeout(latest_thumb, 5000));
        }
        function latest_secondary(){
          $("#latest_secondary").attr("src", "{{ url_for('thumb_secondary') }}?"+new Date().getTime(), setTimeout(latest_secondary, 5000));
        }
        //latest_thumb();
        //latest_secondary();*/
        $('#ping').load('{{ url_for('ping_secondary') }}');
        $('#primary_coords').load('{{ url_for('gps') }}');
        $('#secondary_coords').load('{{ url_for('gps_secondary') }}');
        $('#secondtemp').load('{{ url_for('cputemp_secondary') }}');

        $(function () {
            $('.open').on("click", function (e) {
                var link = this;

                e.preventDefault();
                if(confirm("Are you sure you want to reboot?")) {
                      window.open($(link).attr("data-href"));
                }
            });
        });
      });
  </script>
</head>

<body>
<nav>
  <h1>DCMEX control interface</h1>
</nav>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
<section class="status {{ unit.ActiveState.decode('utf-8') }}">
  <header>
    {{ unit.ActiveState.decode('utf-8') }}/{{ unit.SubState.decode('utf-8') }} 
  </header>
  <dl>
  <dt>IP address:</dt><dd>{{ myip }}</dd>
  <dt>Primary CPU Temp:</dt><dd>{{ cpu_temp }}°C</dd>
  <dt>Secondary CPU Temp:</dt><dd id="secondtemp"></dd>
  </dl>
</section>
<section class="controls">
<!-- --dir /media/AMOF-CAM-HD-Blue --primary_to amof-cam-2 --secondary_dir="/media/AMOF-CAM-HD-Red" --frames 60 --interval 5
 --continuous -->
<form method="post" action="/control">
{% if unit.ActiveState.decode('utf-8') == 'active' -%}
    Frames: {{ config['FRAMES'] }}, Interval: {{ config['INTERVAL'] }}s <button type="submit" name="stop">Stop</button>
{% else -%}
    <label for="frames">Frames</label>
    <input type="number" name="frames" min="1" value="{{ config['FRAMES'] }}"/>
    <label for="interval">interval (seconds)</label>
    <input type="number" name="interval" min="1" value="{{ config['INTERVAL'] }}"/>
    <button type="submit" name="go">Run</button>
{% endif %}
</form>

<button class="open" type="button" name="Reboot" data-href="{{url_for('reboot') }}">Reboot</button>
<button class="open" type="button" name="Reboot_secondary" data-href="{{ url_for('reboot_secondary') }}">Reboot secondary</button>

</section>
<h2>Diagnostics</h2>
<section class="network">
  <div class="status" id="ping">
  </div>
</section>
<section class="log">
<div class="status"><div id="output">Loading ...</div></div>
</section>
<div class="thumbnails">
    <section class="image">
        <header>This Camera</header>
        <a href="{{ url_for('latest') }}"><img id="latest" src="{{ url_for('thumb') }}" /></a>
    </section>
    <section class="image">
        <header>Secondary Camera</header>
        <a href="{{ url_for('latest_secondary') }}"><img id="latest_secondary" src="{{ url_for('thumb_secondary') }}" /></a>
    </section>
</div>
<div class="coord_container">
    <section class="coords">
        <header>This camera</header>
        <div id="primary_coords"></div>
    </section>
    <section class="coords">
        <header>Secondary camera</header>
        <div id="secondary_coords"></div>
    </section>
</div>
</body></html>
