body {
    font-family: sans-serif;
    font-size: larger;
}
nav h1 {
    background: transparent url("/static/dcmex-sm.png") no-repeat left/125px;
    height: 125px;
    padding-left: 125px;
}
.controls {
    font-size: larger;
}
.image {
	min-width: 170px;
    max-width: 45%;
}
.status {
    background-color: #ffffdd;
    border: solid 1px black;
    padding-left: 2em;
}
.status dl, .status dd, .status dt {
    display: inline-block;
    margin: 0 1em 0 0;
}
#output {
    width: 60em;
    min-height: 21em;
    font-family: "Deja Vu Sans Mono", "Courier New", monospace;
}
.primary {
    color: blue;
}
.secondary {
    color: red;
}
.status header {
    display: inline-block;
    width: 20em;
    text-align: center;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.active  header {
    background-color: green;
    color: white;
}
.inactive  header {
    background-color: orange;
    color: blue;
}
.failed  header {
    background-color: red;
    color: white;
}
.log ul {
    padding-left: 0em;
    list-style: none;
}
.thumbnails, .coord_container {
    display: flex;
    justify-content: flex-start;
}
.coords header {
    display: none;
}
.image, .coords {
    width: 250px;
    text-align: center;
}

.unique { display: none; }
